.slideNavButtonTwo {
  &__prev {
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 20px;
    z-index: 20;
    @include screen-sm-min{
      left: 24px;
    }
  }
  &__next {
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 20px;
    z-index: 20;
    @include screen-sm-min{
      right: 24px;
    }
  }
}
