.solitaire{
    position: absolute;
    top: 0;
    left: 0;

    &__close{
        position: inherit;
        top: 5px;
        left: 10px;
        font-size: 20px;
        z-index: 100;
    }

    &__please-click{
        pointer-events: none;
        position: absolute;
        top: calc(50% - 20px);
        left: calc(50% - 25px);
        width: 40px;
        height: 50px;
        background: url('/assets/pixel-pointer.svg');
        background-repeat: no-repeat;
        background-size: auto 100%;
        @include screen-md-min{
            background: url('/assets/pixel-cursor.svg');
            background-repeat: no-repeat;
        background-size: auto 100%;
        }
        
        animation: pleaseClick 5s infinite cubic-bezier(0.34, 1.56, 0.64, 1);
    }
    
}

@keyframes pleaseClick{
    0%{ 
        opacity: 0;
    }
    15%{
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    35%{
        transform: scale(1);
    }
    40%{
        transform: scale(0.9);
    }
    45%{
        transform: scale(0.9);
    }
    48%{
        transform: translate(-30px, 15px) scale(0.9);
    }
    51%{
        transform: translate(30px, -15px) scale(0.9);
    }
    54%{
        transform: translate(-30px, 15px) scale(0.9);
    }
    57%{
        transform: translate(-30px, 15px) scale(0.9);
    }
    60%{
        transform: translate(0, 0) scale(0.9);
    }
    62%{
        transform: scale(1);
    }
    65%{
        transform: scale(1);
    }
    75%{
        opacity: 1;
    }
    85%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }

}