.branches {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: visible;

  &__controls {
    // width: 100px;
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 2px;
    display: inline-block;
    background-color: white;

    &-top {
      display: flex;
    }

    &--open &-top{
      margin-bottom: 10px;
    }
  }

  .react-p5 {
    width: 100%;
    height: 100%;
  }
}
