@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,400;0,600;0,800;0,900;1,100;1,200;1,400;1,600;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;600&display=swap");

@import "../public/components/Layout/Layout.scss";

//Components
@import "../public/components/ExpandButton/ExpandButton.scss";
@import "../public/components/Slider/Slider.scss";
@import "../public/components/Controls/Controls.scss";

//Pages
@import "../styles/Branches.scss";
@import "../styles/ImpossibleButton.scss";


html,
body {
  padding: 0;
  margin: 0;
  // font-family: "Raleway", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-weight: 200;
}

a {
  // color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a,
button {
  color: inherit;
  font-family: "Roboto Mono", monospace;
}

button {
  background: unset;
  border: unset;
  cursor: pointer;
  font-weight: 200;
  padding: 0;
  color: inherit;
}

button:hover,
a:hover {
  outline: none;
  text-decoration: underline;
}

//SWIPER
.swiper-pagination {
  display: flex;
  height: 40px;
  align-items: flex-end;
  justify-content: center;
  bottom: 0 !important;
}

.swiper-pagination-bullet-active {
  height: 40px !important;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}
// .swiper-slide {
//   width: 70vw !important;
// }
// .swiper-button-prev:after,
// .swiper-button-next:after {
//   display: none;
// }
// .swiper-button-prev,
// .swiper-button-next {
//   background-color: gray;
// }

// .swiper-slide {
//   width: 60vw;
//   @media screen and (max-width: 768px) {
//     width: 90vw;
//   }
// }
